﻿@using WHWebApp.Utilities

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brew Master Log</title>

    <link href="~/img/icon.png" rel="icon" />
       
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <link rel="stylesheet" href="~/lib/bootswatch/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("stylesheets", required: false)
        
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <i class="fa fa-beer"></i> Brew Master
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Extensions.IsActive(ViewContext,"Home")"><a asp-controller="Home" asp-action="Index">Home</a></li>                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="@Extensions.IsActive(ViewContext,"Beers")"><a asp-controller="Beers" asp-action="Index">Beers</a></li>
                        <li class="@Extensions.IsActive(ViewContext,"Locations")"><a asp-controller="Locations" asp-action="Index">Locations</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Brew Master Log</p>
        </footer>
    </div>
    
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    

    @RenderSection("scripts", required: false)
</body>
</html>
