@model WHWebApp.ViewModels.LocationsViewModels.IndexViewModel
@{
    ViewData["Title"] = "Favorite Locations";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css">
}

<h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-xs-12">
            <h3>Search for breweries based on a location</h3>        
        </div>    
    </div>

<form asp-controller="Locations" asp-action="SearchLocation" method="get" class="form-horizontal">  
    <h4>Location Search:</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="EnumState" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="selectpicker" asp-for="EnumState" 
                asp-items="Html.GetEnumSelectList<StatesEnum>()">
            </select>           
        </div>        
    </div>    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input name="PageNum" value="1" hidden="true" />
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </div>   
</form>
<hr>
<div ng-app="app-locations">
    <div ng-view></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/js/app-locations.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/locationsController.js"></script>
    <script src="~/js/locationInfoController.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
}