@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

@if (ViewBag.ConfirmEmailAlert != null)
{
    <div id="alert" class="alert alert-warning">
        <div class="row">
            <div class="col-xs-11">
                <span class="fa fa-exclamation" aria-hidden="true"></span>
                <span class="sr-only">Check Email:</span>
                @ViewBag.ConfirmEmailAlert
            </div>
            <div class="col-xs-1">
                <i class="fa fa-times-circle btn btn-sm" onclick="closeAlert()"></i>
            </div>
        </div>
    </div>
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Log in</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-info">Cancel</a>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-controller="Account">Register as a new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword" asp-controller="Account">Forgot your password?</a>
                </p>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
