@model WHWebApp.ViewModels.ViewComponentModels.PaginationViewComponentModel

<div class="row">
    <div class="col-lg-12 text-center">
        <nav>
            <ul class="pagination">

            @if (Model.PageNumber == 1)
            {
                <li class="disabled">
                    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-search="@Model.SearchName" asp-route-pagenum="@(Model.PageNumber - 1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            }
            @{
                int firstPaginationNum = 1;
                int lastPaginationNum = Model.MaxPageNumber;

                if (Model.PageNumber + 6 > Model.MaxPageNumber)
                {
                    firstPaginationNum = Model.MaxPageNumber - 5;

                    if (firstPaginationNum < 1)
                    {
                        firstPaginationNum = 1;
                    }
                }
                else
                {
                    firstPaginationNum = Model.PageNumber;

                    lastPaginationNum = firstPaginationNum + 5;

                    if (lastPaginationNum > Model.MaxPageNumber)
                    {
                        lastPaginationNum = Model.MaxPageNumber;

                    }
                }

                for (int pageNum = firstPaginationNum; pageNum <= lastPaginationNum; pageNum++)
                {
                    if (pageNum == Model.PageNumber)
                    {
                        <li class="active">
                            <a href="#">@pageNum</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-search="@Model.SearchName" asp-route-pagenum="@pageNum">
                                @pageNum
                            </a>
                        </li>
                    }
                }
            }
            @if (Model.PageNumber == Model.MaxPageNumber)
            {
                <li class="disabled">
                    <a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-search="@Model.SearchName" asp-route-pagenum="@(Model.PageNumber + 1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            }
            </ul>
        </nav>
    </div>
</div>