@model WHWebApp.ViewModels.BeersViewModels.SearchBeerViewModel

@{
    ViewBag.Title = "Search for beer";
}
<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title</h2>
        <h3>
            You search for
            <b>"@(Model.SearchName)"</b>
        </h3>
        <p>@Model.Message</p>
    </div>
</div>

@if (Model.Success)
{
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brewey</th>
                        <th>Style</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var beer in Model.Beers)
                    {
                        <tr>
                            <td>@beer.Name</td>
                            <td>@beer.Brewery.Name</td>
                            <td>@beer.Style.ShortName</td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-responsive undraggable" src="@beer.Icon" alt="@beer.Name" width="75" height="75" />
                            </td>
                            <td>
                                <a asp-controller="Beers" asp-action="AddBeer" asp-route-beerid="@beer.IdApi" asp-route-beername="@beer.Name">
                                    <div class="btn btn-sm btn-success">Add Beer</div>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Beers" asp-action="BeerInfo" asp-route-beerid="@beer.IdApi">
                                    <div class="btn btn-sm btn-info">More Info</div>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>   

    @await Component.InvokeAsync("Pagination", new 
    { 
        pageNumber = @Model.PageNumber,
        maxPageNumber = @Model.MaxPageNumber,
        controller = "Beers",
        action = "SearchBeer",
        searchName = @Model.SearchName
    })             
}
