@model WHWebApp.ViewModels.BeersViewModels.SearchBreweryViewModel

@{
    ViewBag.Title = "Search for brewery";
}

<h2>@ViewBag.Title</h2>
<h3>
    You search for
    <b>"@(Model.SearchName)"</b>
</h3>
<p>@Model.Message</p>

@if (Model.Success)
{
<hr />


<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>View Beers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brewery in Model.Breweries)
        {
            <tr>
                <td><img class="img-responsive undraggable" src="@brewery.Image" alt="@brewery.Name" height="175" width="175"/></td>
                <td>@brewery.Name</td>
                <td>
                    <a asp-controller="Beers" asp-action="Brewery" asp-route-breweryid="@brewery.IdApi">
                        <div class="btn btn-sm btn-success">
                            View Beers
                        </div>
                    </a>
                </td>
            </tr>           
        }
    </tbody>
</table>

@await Component.InvokeAsync("Pagination", new 
    { 
        pageNumber = @Model.PageNumber,
        maxPageNumber = @Model.MaxPageNumber,
        controller = "Beers",
        action = "SearchBrewery",
        searchName = @Model.SearchName
    }) 

}